body {
    font-family: 'Roboto';
}

a{
    color: #1ba94c;
}
a:hover{
    color: #1b894f;
}
.myNavbar{
    position: absolute;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
}

.general-navbar{
    width: 100%;
    padding: 1rem;
    box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
}

.navbar-brand{
    padding: 10px;
    font-size: 1.75rem;
}

.page-header{
    text-align: center;
    height: 100%;
    width: 100%;
    display: table;
}

.myBtn{
    padding: 10px 30px;
    background-color: #1ba94c;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
}

.myBtn:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 8px 15px 0 rgba(0,0,0,0.21);
}

.index-footer{
    bottom: 0%;
    padding: 25px;
    position: absolute;
    left: 0%;
    width: 100%;
    box-shadow: 0 -3px 10px 0 rgba(115, 143, 147, 0.3);
}

.footer{
    bottom: 0%;
    padding: 25px;
    left: 0%;
    width: 100%;
    box-shadow: 0 -3px 10px 0 rgba(115, 143, 147, 0.3);
}

.bigFlex{
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

.center-all{
    text-align: center;
}

.grey-bg{
    background-color: #f3f6f6;
    padding: 20px;
}

.profile-pic{
    width: 80%;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(115, 143, 147, 0.3);
}

.small-profile-pic{
    width: 30%;
    margin: 20px;
}

.mini-profile-pic{
    width: 7%;
}

.profile-pic:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.21);
}

.row{
    padding: 10px 0px;
}

.question{
    padding: 5px;
    box-shadow: 0 3px 10px 0 rgba(115,143,147,0.3);
    border: 0;
    border-radius: 0;
}

.sort{
    padding: 15px;
    box-shadow: 0 3px 10px 0 rgba(115,143,147,0.3);
    border: 0;
    border-radius: 0;
}

.bookmark-question{
    position: absolute;
    right: 10%;
    font-size: 20px;
}

.control_star {
	display: block;
    position: absolute;
    right: 10%;
	cursor: pointer;
	font-size: 15px;
}


.control__indicator__star {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 20px;
}

.control_star input:checked ~ .control__indicator__star {
	color: #ebbc2a;
}

.cursor{
    cursor: pointer;
}

.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 15px;
}

.control input, .control_star input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 18px;
	width: 18px;
	background: #e6e6e6;
}


.control input:checked ~ .control__indicator {
	background: #1ba94c;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #1b894f;
}

.control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}

.control__indicator:after {
	content: '';
	position: absolute;
	display: none;
}

.control input:checked ~ .control__indicator:after {
	display: block;
}

.control--checkbox .control__indicator:after {
	left: 8px;
	top: 4px;
	width: 4px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

.question.solved{
    background-color: #bbffdd;
}

.mini-profile{
    position: relative;
}

.mini-profile .bookmark-question{
    display: none;
}

.mini-profile:hover .bookmark-question {
    display: block;
    top:10%;
    right:3%;
}

select{
    width: 100%;
    border: none;
    background-color: #f3f6f6;
    padding: 10px 5px;
}

select:focus{
    outline: none;
}

/* Custom Text sizes */

p.super-small-text{
    font-size: 15px;
    margin: 5px 0px 0px 0px;
}

h1.jumboNum{
    font-size: 100px;
}
.jumboNum .fas{
    font-size: 75px;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#fff35d), to(#ef7701)); */
    background: linear-gradient(to top, #ffe000bf, #ff5e00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-card{
    border: 0;
    border-radius: 0;
    box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
    margin-bottom: 20px;
}

.timeline{
    padding: 20px 0 20px 0;
}

.timeline-card{
    margin: 20px;
}

@media only screen and (max-width:768px)
{
    .center-mob{
        padding: 20px 0 0px 0;
        text-align: center;
    }

    .card-body{
        padding: 5px;
    }
}